<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -ASP.NET MVC 6 Application With Angular 2</title>
    <!-- 1. Load libraries -->
    <!-- Polyfill(s) for older browsers -->
    <script src="~/libs/core-js/client/shim.min.js"></script>
    <script src="~/libs/zone.js/dist/zone.js"></script>
    <script src="~/libs/reflect-metadata/Reflect.js"></script>
    <script src="~/libs/systemjs/dist/system.src.js"></script>
 

    @*<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css"></link>
    <script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>*@
    <link rel="stylesheet" href="https://www.primefaces.org/primeng/resources/primeng.min.css"></link>
    <link rel="stylesheet" href="https://www.primefaces.org/primeng/showcase/resources/icons/css/font-awesome.min.css"></link>
    
    <link rel="stylesheet" href="https://npmcdn.com/primeui/themes/delta/theme.css"></link>
    <link rel="stylesheet" href="https://npmcdn.com/primeui/primeui-ng-all.min.css"></link>
    <link rel="stylesheet" href="https://npmcdn.com/font-awesome/css/font-awesome.min.css"></link>
    <script src="https://npmcdn.com/primeui/primeui-all.min.js"></script>
    <link rel="author" href="https://github.com/valor-software/ng2-bootstrap/graphs/contributors">


    <!-- 2. Configure SystemJS -->
   
    <script src="~/systemjs.config.js"></script>
   
    @*<script src="http://maps.google.com/maps/api/js?key=AIzaSyBKcHWQkH8hS_Hn1vBGMAVUXRApKB17Xu8"></script>*@

    <style media="screen">
        .header {
            background-color: #0143A3;
            background: -webkit-linear-gradient(#0143A3, #0273D4);
            background: linear-gradient(#0143A3, #0273D4);
            color: #FFF;
            padding: 30px;
        }

        section {
            padding-top: 30px;
        }
    </style>

    <script>
        System.import('../Scripts/app/main').catch(function (err)
        {
            console.error(err);
        });
    </script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
